/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
  background-color: rgb(77, 75, 75);
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome {
  margin-right: 0.6rem;
}
.user {
  float: left;
  color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white !important;
  min-width: 400px;
  overflow-y: scroll;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  max-height: 500px;
  z-index: 1;
}
.settings {
  float: right;
  cursor: pointer;
}
.settings:hover {
  background-color: white !important;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black !important;
  padding: 12px 16px;
  display: block;
  border-radius: 20px;
}
.false {
  background-color: rgb(131, 126, 126);
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.header {
  font-weight: bold;
}
.footer {
  align-self: center;
  font-weight: bold;
  text-align: center;
}
